corpo {

}

#banner {
largura:100%;
}

.diretor{
histórico: #CCCCCC;
preenchimento: 30px;
}

.titulo-principal {
preenchimento à esquerda: 20px;
}

.titulo-centralizado {
alinhamento de texto: centro
}

p {
alinhamento de texto: centro;
}

#missao {
tamanho da fonte: 20px
}

eles são fortes {
cor: #FF0000;
}

.itens {
estilo de fonte: itálico
}

.benefícios {
fundo: #FFFFFF;
preenchimento: 20px;
}

você {
display: bloco embutido;
alinhamento vertical: topo;
largura: 20%;
margem direita: 15%;
}

.imagembeneficios {
largura: 50%;
}
